body{
    background: url('footer_lodyas.png');
}
.main.container {
    margin: 2em;
    width:840px;
    padding: 20px;
    background: #FFF;
    box-shadow: 1px 1px 5px #000;
    border-top: 10px solid green;
    border-bottom: 30px solid green;
}
canvas{
  border:1px solid rgb(100%, 62%, 0%);
  outline:1px solid #21252B;
  cursor: pointer;
}
.positioner{
  position: relative;
}

#data_container, #instructions{
  font-family: "Courier New";
  color:rgb(100%, 62%, 0%);
  font-size: 12px;
  letter-spacing: 9.3px;
  line-height: 16px;
  position: absolute;
  left:8px;
  top:8px;
}

#step1, #step2{
  font-family: "Courier New";
  color:rgb(100%, 62%, 0%);
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left:100px;
  top:60px;
  width:600px;
  text-align:center;
  cursor: pointer;
}
#step2{
  right:1px;
  left:auto;
  width:310px;
  padding:0 25px;
  display:none;
}
#step1 strong{
  font-size:26px;
  margin-bottom: 30px;
  display: block;
}
#step1 :hover{
  text-decoration: underline;
}
#step2 i{
  margin-top: 70px;
  display: block;
  letter-spacing: 20px;
  padding-left: 21px;
}
#instructions{
  left:auto;
  right:1px;
  width:299px;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: 14px;
  padding-top:10px;
  display:none;
}
#indexLabels i{
  position: absolute;
  color: #666;
  display:none;
}
#indexLabels i:nth-child(1){
  left:100px;
}
#indexLabels i:nth-child(2){
  left:189px;
}
#indexLabels i:nth-child(3){
  left:189px;
  top:125px;
}
#indexLabels i:nth-child(4){
  left:100px;
  top:125px;
}
#selectedIndex{
  padding-top: 110px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 20px;
  padding-left: 50px;
  display:none;
  text-align: left;
}
#selectedIndex em{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 24px;
  padding-left: 3px;
  color: #666;
  padding-right: 68px;
}
#instructions ul{
  list-style-type:none;
  margin: 0;
  padding: 0 0 0 20px;
  width:100%;
  top:260px;
  position:absolute;
  text-align: left;
}
#instructions ul li{
  margin: 0;
  padding: 0;
  line-height: 28px;
  display: block;
  width: 10%;
  float: left;
  text-align: right;
  margin-right: 104px;
}
#slider, #solve{
  visibility: hidden;
}
button{
  background: rgb(100%, 62%, 0%);
  border:0;
  color:#21252B;
}
button#thresh{
  position:absolute;
  bottom:-80px;
  left:127px;
}
button#vis{
  margin-top:20px;
}
button#solve{
  position: absolute;
  right: 15px;
  top: 460px;
}
